/*
  START UNIVERSAL
*/
.App {
  text-align: center;
}

/*
  END UNIVERSAL
*/

/*
  START HEADER
*/

.App-logo {
  width: 180px;
  pointer-events: none;
  margin: 0 auto;
}

.header {
  display: grid;
  align-items: center;
}

.App-header {
  font-family: inherit;
  background-color: orange;
  /* grid-template-columns: 250px 1fr; */
  color: black;
  text-align: left;
  padding: 10px 20px;
}

.App-header h1 {
  margin-bottom: 5px;
  margin-top: 15px;
  font-size: 25px;
  font-weight: 800;
  letter-spacing: 1px;
  text-align: center;
}

.App-header p {
  margin-top: 10px;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 10px;
  font-weight: 200;
  text-align: right;
}

/*
  END HEADER
*/

/*
  START DROPDOWN CONTAINER
*/

.dropdown-container {
  padding: 3%;
  background: #f1f1f1;
}

.dropdown-container p {
  margin-top: 0;
}



select.dropdown {
  font-family: inherit;
  font-size: 17px;
}

.recharts-surface {
  overflow: visible;
}

h2.chart-header {
  font-size: 21px;
  font-weight: lighter;
  text-transform: uppercase;
  letter-spacing: 3px;
}

/*
  END DROPDOWN CONTAINER
*/

/*
  START CHART AREA CONTAINERS
*/

.grid {
  display: grid;
  grid-template-columns: 30% 1fr;
  grid-column-gap: 20px;
  padding: 0 5%;
  align-items: center;
}

.grid .text {
  padding: 20px;
  background: #f8f8f8;
}

.section-container:nth-child(2) .grid {
  grid-template-columns: 1fr 30%;
  grid-template-areas: "b a";
}

.section-container:nth-child(2) .grid .text {
  grid-area: a;

}

a.indicator-btn {
  padding: 7px 10px;
  background: black;
  color: white;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 15px 0;
  transition: 0.5s background;
}

a.indicator-btn:hover {
  background: #022d5b;
  transition: 0.5s background;
}

@-webkit-keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}
@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

.section-container {
  border-bottom: 3px solid #e8e8e8;
  padding: 50px 0 65px;
  -webkit-animation: fadeIn 2s;
  animation: fadeIn 2s;
}


/*
  END CHART AREA CONTAINERS
*/

/*
  START ERROR CSS
*/

.error-hide .error-msg {
  display: none;
}

.error-show .explore-header, .error-show .chart-draw {
  display: none;
}

p.error-msg {
  font-size: 15px;
  font-style: italic;
}

/*
  END ERROR CSS
*/

/*
  START MEDIA QUERIES
*/

@media only screen and (max-width:450px) {
  .section-container:nth-child(2) .grid, .section-container .grid, .header {
    grid-template-columns: 100%;
    grid-template-areas:
        "a"
        "b";
  }

  .grid .chart {
    padding: 15% 0;
  }
}

/*
table styles
 */

.app-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 1rem;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  border: 1px solid #ffffff;
  text-align: left;
  padding: 8px;
  font-size: 32px;
}

th {
  background-color: orange;
}

td {
  background-color: #ffb54f;
}

form {
  display: flex;
  gap: 5px;
}

form td:last-child {
  display: flex;
  justify-content: space-evenly;
}

form * {
  font-size: 28px;
}
/*
button
<!-- HTML !-->
<button class="button-5" role="button">Button 5</button>
 */
                                                   /* CSS */
                                                 .button-5 {
                                                   align-items: center;
                                                   background-clip: padding-box;
                                                   background-color: #fa6400;
                                                   border: 1px solid transparent;
                                                   border-radius: .25rem;
                                                   box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
                                                   box-sizing: border-box;
                                                   color: #fff;
                                                   cursor: pointer;
                                                   display: inline-flex;
                                                   font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
                                                   font-size: 16px;
                                                   font-weight: 600;
                                                   justify-content: center;
                                                   line-height: 1.25;
                                                   margin: 0;
                                                   min-height: 3rem;
                                                   padding: calc(.875rem - 1px) calc(1.5rem - 1px);
                                                   position: relative;
                                                   text-decoration: none;
                                                   transition: all 250ms;
                                                   user-select: none;
                                                   -webkit-user-select: none;
                                                   touch-action: manipulation;
                                                   vertical-align: baseline;
                                                   width: auto;
                                                 }

.button-5:hover,
.button-5:focus {
  background-color: #fb8332;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.button-5:hover {
  transform: translateY(-1px);
}

.button-5:active {
  background-color: #c85000;
  box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
  transform: translateY(0);
}
